body{
    font-family: 'Quicksand', sans-serif;
    background-color: #D3A6F7;
    font-size: 18px;
}

h1{
    font-size: 36px;
    padding-top: 20px;
}

.container{
    width: 80%;
    margin: auto;
}

/*Birthday Form*/
/*The combined styles of the date of birth input fields.*/
#year-input, #month-input, #day-input{
    border-radius: 15px;
    width: 60px;
    height: 20px;
    box-shadow: 2px 2px #D3A6F7;
}

/*id for button to submit birthday and gender data*/
#get-name{
    border-radius: 15px;
    color: ;
    background-color: #e500fa;
    text-align: ;
    border: ;
    width: ;
    height: ;
    font-size: ;
    box-shadow: 2px 2px #09ff00;
}

/*align the akan name center*/
#result{
    text-align: center;
}
/*style the whole page*/
.content{
    background-color: #DAF7A6;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 20px;
    box-shadow: 2px 2px;
    border-radius: 0.5%;
}

/*Button to clear form after date of birth and gender submission.*/
.clear{
    border-radius: 15px;
    color: #000000;
    background-color: #FCD116;
    text-align: solid;
    border: solid 2px #000000;
    width: 100px;
    height: 25px;
    font-size: 14px;
    box-shadow: 2px 2px #000000;
}
